body {
    font-family: Arial, sans-serif;
    text-align: center; /* Center align text */
}

.navbar {
    overflow: hidden;
    background-color: #1C3173;
    text-align: center; /* Center align navigation bar */
}

.navbar a {
    display: inline-block; /* Change to inline-block for centering */
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    margin-top: 20px;
}
main {
    max-width: 800px;
    margin: 50px auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

