body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Style for the navigation bar */
nav {
    background-color: #1F305E;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Style for the main content area */
main {
    max-width: 800px;
    margin: 50px auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}
h3{
    color: #333;
    text-align: center;
}    
         footer{
    text-align: center;
    padding: 10px;
    background-color: #8DA399;
    color: #fff;
    bottom: 0;
    width: 100%;/* Example padding, adjust as needed */
}

/* Add some responsiveness */
@media screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 0;
    }

   html, body {
    height: 100%; /* Essential to make the page container fill the full height */
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    box-sizing: border-box; /* Ensures padding does not affect the total width/height */
}

.page-container {
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Stacks children vertically */
    min-height: 100%; /* Minimum height of the container is the full viewport */
}

main {
    flex-grow: 1; /* Allows the main content to grow and fill available space */
}
