body {
    font-family: Arial, sans-serif;
    text-align: center; /* Center align text */
}

.navbar {
    overflow: hidden;
    background-color: #274C77;
    text-align: center; /* Center align navigation bar */
}

.navbar a {
    display: inline-block; /* Change to inline-block for centering */
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* !!!!!!!Testing a little css.!!!!!!!!!!!!! */

.main-content, .references {
    width: 80%;
    max-width: 800px; /* Maximum width */
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd; /* Light gray border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.image-section {
    text-align: center;
    padding: 10px;
}

.image-section img {
    max-width: 100%;
    height: auto;
}

.text-content, .references {
    text-align: left;
}

/* !!!!!!!!!!!Test End!!!!!!!!!!!!! */

.content {
    margin-top: 20px;
}
.page-container {
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Stacks children vertically */
    min-height: 100%; /* Minimum height of the container is the full viewport */
}
footer {
    padding: 10px;
    text-align: center;
    background-color: #8a7b70;
    bottom: 0;
    width: 100%;/* Example padding, adjust as needed */
}

